.ant-menu-item-selected::after {
  border-right: 3px solid #fffaed !important;
}

.admin-dashboard {
  cursor: default;

  &__header {
    background-color: $bg-light-grey;
    padding-left: 10px;
  }
  &__sider {
    background-color: $bg-primary;
  }
}

.header-content {
  align-items: center;
  justify-content: space-between;

  &__avatar {
    cursor: pointer;
  }
}

.sider {
  &__menu {
    background-color: $bg-primary;
    margin-top: 30px;
  }
}
