.form {
  &__container {
    width: 400px;
  }
}

.main-content {
  position: relative;
  z-index: 2;
}

.vector-image {
  position: absolute;
  z-index: 1;

  &__img-1 {
    background-image: url("../../../assets/images/bg-vector-3.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
  }
  &__img-2 {
    background-image: url("../../../assets/images/bg-vector-3.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
