.carousel-content {
  background-color: $bg-primary;
  color: $color-white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 136px);
  justify-content: center;
  text-align: center;
}

.patient-dashboard {
  cursor: default;

  &__header {
    background-color: $bg-light-grey;
  }

  &__footer {
    background-color: $bg-light-grey;
  }
}

@media (max-width: 575px) {
  .no-center {
    transform: translateY(0) !important;
  }
}