$bg-color: #f6f6f6;
$bg-primary:  #0195d8;
$bg-light-grey: #f3f3f3;
$bg-grey: #afafaf;
$bg-secondary: #f1743c;
$bg-dark:  #36394a;

$border-grey: #d9d9d9;
$border-light-grey: #f0f0f0;
$border-form: solid 1px rgba(0, 0, 0, 0.15);
$border-tabs: #e1eaeb;

$color-primary: #0195d8;
$color-secondary: #f1743c;
$color-black: #000;
$color-dark-grey: grey;
$color-grey: #afafaf;
$color-white: #FFF;
$color-danger: red;

$color-shadow-primary: #5dbbc3;

$default-border-radius: 8px;
$default-viewport-height: 100vh;
$default-viewport-width: 100vw;

$font-size: 14px;
$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-sm: 13px;
$font-size-xs: 12px;

$form-height: 40px;
$form-height-2px: 38px;
$form-item-height: 95px;

$header-height: 86px;

$internal-autofill-selected: rgba(58,175,185, 0.2);

$nav-menu-active-color: #fff500;
// $nav-menu-active-color-rgb: #fff500;

$sidebar-width: 260px;



