/* *** Default styles *** */

*,
::before,
::after {
  box-sizing: border-box;
}

::selection {
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smooth: antialiased;
  margin: 0;
  padding: 0;
}

.ant-layout {
  background: #fff !important;
}

/*** base ***/
@import "./base/variables";
@import "./base/typography";
@import "./base/general";

/*** layouts  ***/
@import "./layouts/MainLayout";
@import "./layouts/HeaderLayout";
@import "./layouts/FooterLayout";

/*** pages ***/
@import "./pages/AdminDashboard";
@import "./pages/PatientDashboard";
@import "./pages/Login";
@import "./pages/Queue";

/*** Global Custom Styles ***/

.logo-text {
  color: $color-primary;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 5px;
}
