/*** base ***/
@import "./base/variables";
@import "./base/typography";
@import "./base/animations";
@import "./base/general";

/*** layouts  ***/
@import "./layouts/dashboardLayout";
@import "./layouts/mainLayout";
@import "./layouts/tableLayout";

/*** pages ***/
@import "./pages/register";
@import "./pages/patient";
@import "./pages/login";
@import "./pages/queue";

/*** Global Custom Styles ***/

.logo-text {
  color: $color-primary;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 5px;
}

.ant-btn {
  padding: 0;
}

.ant-table-cell {
  font-size: 19px;
}
